## 1.Swap two numbers without third variable

In [1]:
a=12
b=3
a=a+b#a=15
b=a-b#b=12
a=a-b#a=3
print(a,b)

3 12

## 2.Swap two numbers with third variable

In [2]:
a=12
b=3
temp=a#temp=12
a=b#a=3
b=temp#temp=12
print(a,b)

3 12

## 3.Prime number or not

In [5]:
n=int(input("enter the number"))
count=0

if n>1:
    for i in range(1,n+1):
        if((n%i)==0):
            count+=1
        
    if count==2:
        print("number is prime")
    else:
        print("number is not prime")

enter the number40
number is not prime

## 4.Print prime numbers between the ranges

In [7]:
start=int(input("enter the start  number"))
end=int(input("enter the end number"))

for i in range(start,end+1):
    flag=0
    for j in range(2,i):
        if(i%j==0):
            flag=1
            break
    if flag==0:
        print(i,end=' ')

enter the start  number10
enter the end number100
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

## 5.Fibonacci series

In [9]:
n=int(input())
f1,f2=0,1

if n==1:
    print(f1)
elif n==2:
    print(f1,f2)
else:
    print(f1, f2,end=' ')
    for i in range(3,n+1):
        f3=f1+f2
        print(f3,end=' ')
        f1=f2
        f2=f3

10
0 1 1 2 3 5 8 13 21 34

## 6.Factorial of numbers using iteration

In [3]:
n=int(input("enter"))
factorial=1
if(n<0):
    print("no")
elif(n==0 or n==1):
    print(1)
    
else:
    for i in range(1,n+1):
        factorial=factorial*i
    print(factorial)

enter1
1

## 7.Factorial of number using recurssion

In [4]:
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n* factorial(n-1)
    
n=int(input())
factorial(n)

5

120

## 8.Leap year using if-else

In [6]:
year=int(input("enter year"))
if(year%400==0):
    print(year,"leap year")
elif((year%4==0)and(year%100!=0)):
    print(year,"leap year")
else:
    print(year,"not a leap year")

enter year2000
2000 leap year

## 9.Anargram or not

In [7]:
# length of strings should equal
# both string should have same characterstics

str1=input("enter 1st string")
str2=input("enter 2nd string")

if len(str1)!=len(str2):
    print("Not anargrams")

else:
    if sorted(str1)==sorted(str2):
        print("Anargrams")
    else:
        print("Not anargrams")

enter 1st stringlisten
enter 2nd stringsilent
Anargrams

## 10.Check the substring is present or not in given string

In [8]:
string=input("enter the string")
sub_string=input("enter the string")

if(string.find(sub_string)==-1):
    print(" not Find")
else:
    print("found")

enter the stringpython programming
enter the stringon
found

## 11.Smallest and Largest element in list

In [9]:
li=[24,56,122,6789,34]
li.sort()
print("smallest element",li[0])
print("largest element",li[-1])

smallest element 24
largest element 6789

## 12.How to remove nth occurenece in given word

In [11]:
li=["geek","for","geek",'random',"words","geek"]
word="geek"
n=3
count=0
print("original list",li)
for i in range(len(li)):
    if(li[i]==word):
        count+=1
        
        if(count==n):
            del li[i]
            
print("updated list",li)

original list ['geek', 'for', 'geek', 'random', 'words', 'geek']
updated list ['geek', 'for', 'geek', 'random', 'words']

## 13.Search an element in a list

In [15]:
l=[1,3,5,6,7,8,45]
element=3
flag=0

for i in l:
    if i==element:
        print("element found at index",l.index(element))
        flag=1
        break
if(flag==0):
    print("element not found")

element found at index 1

## 14.Swap first and Last element

In [16]:
l=[12,34,56,78,30]
print("original list",l)
temp=l[0]
l[0]=l[-1]
l[-1]=temp
print("after swapping the first and last element",l)

original list [12, 34, 56, 78, 30]
after swapping the first and last element [30, 34, 56, 78, 12]

## 15. Swap any two elements in the list

In [17]:
li=[12,34,56,78,90,23,59,33]
pos_1=3
pos_2=5

print("original list",li)
temp=li[pos_1-1]
li[pos_1-1]=li[pos_2-1]
li[pos_2-1]=temp

print("after swapping any two elements",li)

original list [12, 34, 56, 78, 90, 23, 59, 33]
after swapping any two elements [12, 34, 90, 78, 56, 23, 59, 33]

## 16.Reverse a list

In [23]:
l=[12,34,5,6,78,9]
print("first approache to reverse a list",l[::-1])

l1=[34,78,34,111,5]
l1.reverse()
print("Second approach to reverse a list",l1)

first approache to reverse a list [9, 78, 6, 5, 34, 12]
Second approach to reverse a list [5, 111, 34, 78, 34]

## 17.Python program to find the largest number among the three input numbers

In [25]:
n1=int(input())
n2=int(input())
n3=int(input())

if(n1>n2 and n1>n3):
    print(f'{n1} is greatest number')
elif(n2>n1 and n2>n3):
    print(f'{n2} is greatest number')
else:
    print(f'{n3} is greatest number')

3
6
9
9 is greatest number

## 18. Python program to check if the number is an Armstrong number or not

In [27]:
# In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:
# 153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

n=int(input("enter the number"))
length=len(str(n))
sum=0
temp=n
while temp>0:
    rem=temp%10
    sum=sum+rem**length
    temp=temp//10

if(n==sum):
    print("Armstrong number")
else:
    print("not a armstrong number")

enter the number153
Armstrong number

## 19.Program to check Armstrong numbers in a certain interval

In [29]:
lower=int(input("enter the lowest number"))
highest=int(input("enter the highest number"))

for i in range(lower,highest+1):
    order=len(str(i))
    sum=0
    temp=i
    while temp>0:
        rem=temp%10
        sum=sum+rem**order
        temp=temp//10
    
    if sum==i:
        print(i,end=' ')

enter the lowest number100
enter the highest number500
153 370 371 407

## 20.Python program to find H.C.F of two numbers

In [34]:
# The highest common factor (H.C.F) or greatest common divisor (G.C.D) of two numbers is the
# largest positive integer that perfectly divides the two given numbers. For example, the H.C.F of 12 and 14 is 2.


num1=int(input('enter 1st number'))
num2=int(input("enter the 2nd number"))

if num1>num2:
    smaller=num2
else:
    smaller=num1
    
for i in range(1,smaller+1):
    if((num1%i==0) &(num2%i==0)):
        temp=i
        
print("the hcf is",temp)

enter 1st number54
enter the 2nd number24
the hcf is 6

## 21.Python Program to find the L.C.M. of two input number

In [37]:
# The least common multiple (L.C.M.) of two numbers is the smallest positive integer
# that is perfectly divisible by the two given numbers.For example, the L.C.M. of 12 and 14 is 84.
# logic:
# we start checking from 1 and go on till we find a number divisible by both
# in short we goes till the multiplication of both number

num1=int(input('enter 1st number'))
num2=int(input("enter the 2nd number"))

for i in range(1,num1*num2+1):
    if ((i%num1==0)and(i%num2==0)):
        print("lcm is",i)
        break

enter 1st number12
enter the 2nd number14
lcm is 84

## 22. Decimal to Binary conversion

In [39]:
n=int(input())
l=[]
while n>0:
    rem=n%2
    l.append(rem)
    n=n//2
l.reverse()
for ele in l:
    print(ele,end='')

15
1111

## 23.Binary to Decimal conversion

In [44]:
n=input("enter the binary numbery")
l=list(n)
l.reverse()
sum=0
for i in range(len(l)):
    sum=sum+int(l[i])*2**i
print(sum)

enter the binary numbery1111
15

## 24. Remove punctuations from a string

In [45]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
string=input("enter the string")
without_punctuation=""
for i in string:
    if i not in punctuations:
        without_punctuation+=i
print(without_punctuation)

enter the stringHello!!!, he said ---and went.
Hello he said and went

## 25.Program to count the number of each vowels

In [47]:
string=input("enter the string")
vowels='aeiou'
string.lower()
count=0
for i in string:
    if i in vowels:
        count+=1
print(count)

enter the stringaaa
3

## 26. Program to print half pyramid using *

*
* *
* * *
* * * *
* * * * *

In [54]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*",end=' ')
    print(end='\n')

5
*
* *
* * *
* * * *
* * * * *

## 27.Program to print half pyramid a using numbers

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [130]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print('\n')

5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

## 28.Program to print half pyramid using alphabets

A
B B
C C C
D D D D
E E E E E

In [61]:
n=int(input())
ASCI_value=65

for i in range(n):
    for j in range(i+1):
        alphabet = chr(ASCI_value)
        print(alphabet, end=" ")
    ASCI_value+=1
    print('\n')

5
A

B B

C C C

D D D D

E E E E E

## 29.Inverted half pyramid using *

In [110]:
rows=int(input())
for i in range(rows):
    for j in range(i,rows):
        print("*",end=' ')
    print('\n')

5
* * * * *

* * * *

* * *

* *

*

## 30.Inverted half pyramid using numbers

In [64]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(i,n+1):
        print(j,end=' ')
    print('\n')

5
1 2 3 4 5

2 3 4 5

3 4 5

4 5

5

## 31. Program to print full pyramid using *

In [66]:
rows=int(input())
for i in range(1, rows + 1):
        print(" " * (rows - i), end="")
        print("*" * (2 * i - 1))

5
    *
   ***
  *****
 *******
*********

## 32.Program to print full pyramid using number

In [77]:
n=int(input())

for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for k in range(i):
        print(i,end='')
    for m in range(i+1):
        print(i,end='')
    print()

5
     0
    111
   22222
  3333333
 444444444

## 33.Program to print Square pattern

In [99]:
rows=int(input())
for i in range(rows):
    for j in range(rows):
        print("*",end="")
    print()

5
*****
*****
*****
*****
*****

## 34.Cross Pattern

In [101]:
rows=int(input())
for i in range(rows):
    for j in range(rows):
        if(i==j or i+j==rows-1):
            print("*",end="")
        else:
            print(' ',end='')
        
    print()

5
*   *
 * *
  *
 * *
*   *

## 35.Hollow Square Pattern

In [102]:
rows=int(input())
for i in range(rows):
    for j in range(rows):
        if(i==0 or i==rows-1 or j==0 or j==rows-1):
            print("*",end="")
        else:
            print(' ',end='')
        
    print()

5
*****
*   *
*   *
*   *
*****

## 36.Hollow Increasing Traingle

In [104]:
rows=int(input())
for i in range(rows):
    for j in range(i+1):
        if(i==rows-1 or j==0 or j==i):
            print("*",end="")
        else:
            print(' ',end='')
        
    print()

5
*
**
* *
*  *
*****

## 37.Hollow Decreasing Traingle

In [124]:
rows=int(input())
for i in range(rows):
    for j in range(i,rows):
        if(i==0 or j==i or j==rows-1 ):
            print("*",end=" ")
        else:
            print(' ',end=' ')
        
    print()

5
* * * * *
*     *
*   *
* *
*

## 38.X shape number pattern

In [127]:
rows=int(input())
for i in range(rows):
    for j in range(rows):
        if(i==j or i+j==rows-1):
            print(j,end="")
        else:
            print(' ',end='')
        
    print()

10
0        9
 1      8
  2    7
   3  6
    45
    45
   3  6
  2    7
 1      8
0        9

## 39.

In [134]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## 40.

In [136]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

## 41.

In [137]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 42.Sum of elements in the list

In [139]:
l=[23,45,67,89]
sum=0
for i in range(len(l)):
    sum+=l[i]
print(sum)

224

## 43. Count Number of Digits in an Integer using while loop

In [80]:
n=int(input("enter the number"))
count=0
temp=n
while temp>0:
    rem=temp%10
    count+=1
    temp=temp//10
print(count)

enter the number12345678
8

## 44.Count a letter present in the word

In [81]:
string=input("enter the word")
string.lower()
letter=input("enter the letter to check")
letter.lower()
count=0
for i in range(len(string)):
    if string[i]==letter:
        count+=1
print(count)

enter the wordaaaaab
enter the letter to checka
5

## 45.Write a program for sum of digits

In [82]:
# the digits are 76543 and the output should be 25.
n=int(input("enter the number"))
sum=0
while n>0:
    rem=n%10
    sum+=rem
    n=n//10
print(sum)

enter the number76543
25

## 46. Add symbols after a letter with occurence

In [84]:
string=input("enter the word")
string.lower()
di={}
for char in string:
        # Only count alphabetic characters
        if char.isalpha():
            # Increment the count for the current letter
            di[char] = di.get(char, 0) + 1
            
result_string = ""
for letter, count in di.items():
    
    result_string += letter + "$" * count

print(result_string)

enter the wordaaabbaaac
a$$$$$$b$$c$

## 47.

In [85]:
l=[1,2,3,4,5,6]
s=10
count=0
for i in range(len(l)):
    for j in range(len(l)):
        if l[i]+l[j]==10:
            count+=1
            
print(count)

3

## 48. Reverse a string

In [89]:
st="welcome to my github account"
print(st)
a=list(st.split(" "))
a.reverse()
st=""
for i in a:
    st+=" " +i
    
print(st.strip())

welcome to my github account
account github my to welcome

## 49.Count the words in statement

In [90]:
def word_count(text):
    words = text.lower().split()
    counts = {}
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    
    return counts


text = input("enter ")
counts = word_count(text)
print(counts)

enter welcome to welcome for my to also
{'welcome': 2, 'to': 2, 'for': 1, 'my': 1, 'also': 1}

## 50.Write a code to Sort the element of the array without sort method

In [98]:
arr=[23,1,45,78,5,89]
temp=0
print("without sorting",arr)
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] > arr[j]):    
            temp = arr[i]   
            arr[i] = arr[j]    
            arr[j] = temp 
print('after sorting')
for i in range(0, len(arr)):    
    print(arr[i], end=" ")

without sorting [23, 1, 45, 78, 5, 89]
after sorting
1 5 23 45 78 89